@import url('https://fonts.googleapis.com/css?family=Oswald');

.Main {
  margin: 0 5%;
  padding: 25px;
}

.Main h1 {
  text-align: center;
  font-family: 'Oswald'
}

.Main .form {
  width: 40%;
  margin: 0 auto;
}

.Main .form input {
  width: 70%;
  height: 40px;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
}

.Main .form button {
  width: 20%;
  height: 40px;
  padding: 0;
  border: 0px;
  border-radius: 5px;
  background-color: #ed1b24;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  vertical-align: bottom;
  float: right;
}